<h1>Меню</h1>
<h3>@Model.foodCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (Food food in Model.allFoods)
        {
            @Html.Partial("AllFoods", food);
            }
    }
</div>

