@using Rapsody.ViewModels;
@model FoodsListViewModels
@{
    ViewData["Title"] = "List";
}

<h1>Все меню</h1>
<h2>@Model.foodCategory</h2>
@{
    foreach(var food in Model.allFoods)
    {
        <div>
            <h3>Модель: @food.Name</h3>
            <p>Цена: @food.ToString()</p>
        </div>
    }

}

